@import "./grid.css";
@import "./reset.css";
@import "./head.css";
@import "./common-styles.css";
@import "./portfolio.css";
@import "./projects.css";
@import "./form-section.css";
@import "./footer.css";

:root {
  --background-color-gray: rgb(238, 239, 241);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-dark-blue: rgb(52, 84, 122);
}
